{
    "driver_config": {
        "device_address": "192.168.87.55/24:47888",      # "40009:900",
        "proxy_address": "platform.bacnet_proxy1"
    },
    "campus": "campus",
    "building": "building",
    "unit": "bacnet1",
    "driver_type": "bacnet",
    "registry_config":"/home/klockhart/wrk/volttron/volttron/drivers/bacnet_ct-hq.csv",
    "interval": 5,
    "timezone": "UTC"
}