{
    "driver_config": {
        "device_address": "192.168.87.54",      # "40014:1400"
        "proxy_address": "platform.bacnet_proxy2"
    },
    "campus": "campus",
    "building": "building",
    "unit": "bacnet2",
    "driver_type": "bacnet",
    "registry_config":"/home/klockhart/wrk/volttron/volttron/drivers/bacnet_ct-lab.csv",
    "interval": 5,
    "timezone": "UTC"
}